*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 18px;
  background: #ffede1;
}
main {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 25px;
}
.parent-cards {
  background: rgb(112, 155, 216);
  padding: 10px;
  display: grid;
  height: 100%;
  border: solid 1px rgb(85, 84, 84);
  width: 50%;
}

h1 {
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: 1em;
}
.title {
  margin: 5px 0;
}

p {
  line-height: 1.7em;
  font-size: 0.9em;
  width: 100%;
  text-align: justify;
}

/* Style pour la barre de défilement */
::-webkit-scrollbar {
  width: 12px; /* Largeur de la barre */
}

/* Style pour le fond de la barre de défilement */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Couleur du track */
  border-radius: 10px; /
}

/* Style pour le curseur de la barre de défilement */
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        rgb(62, 212, 250), /* Couleur du haut */
        rgb(105, 122, 246), /* Couleur du milieu */
        rgb(145, 38, 208)   /* Couleur du bas */
      );
  border-radius: 10px; 
}

/* Change la couleur du curseur au survol */
/* ::-webkit-scrollbar-thumb:hover {
   
} */
